@model WebApplication2.Models.Domain.UserLoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="textdanger"></div>
            <div class="form-group">
                <label asp-for="Email" class="controllabel"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="textdanger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="controllabel"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="textdanger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" aspfor="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
            </div>
        </form>
        <a class="btn btn-info" asp-action="GoogleLogin">
            Log In With Google
        </a>
    </div>
</div>
@section Scripts {
    @{await
       Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

