@model WebApplication1.Entities.Loaisanpham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
 
    <div class="container d-flex justify-content-center">
        <div class="w-50">
            <div class="row d-flex justify-content-center">
                <h4 class="mb-3">Cập Nhật Thông Tin Loại Sản Phẩm</h4>
                <div class="">
                    <form asp-action="Edit" asp-controller="LoaiSanPham" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="MaLSP" />
                        <div class="form-group">
                            <label asp-for="TenLSP" class="control-label"></label>
                            <input asp-for="TenLSP" class="form-control" />
                            <span asp-validation-for="TenLSP" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HinhAnh" class="control-label"></label>
                            <input type="file" name="photo1" class="form-control" />
                            @*<img src="~/imgs/menuProducts/@Html.DisplayFor(model=>model.HinhAnh)" />*@
                            <span asp-validation-for="HinhAnh" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MoTa" class="control-label"></label>
                            <input asp-for="MoTa" class="form-control" />
                            <span asp-validation-for="MoTa" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input onchange="detele()" type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
               

            </div>
            <div >
                <a asp-action="Index">Back to List</a>
                @if (ViewBag.Status == 1)
                {
                    <div>
                        <b style="color:red;">Đã Cập Nhật Lại Nội Dung !</b>
                    </div>
                }
            </div>

        </div>

    </div>

