
@{
    ViewData["Title"] = "gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-2" >
    <div class="'row w-100">
        <div class="col-lg-6">
            <h3 class="w-100 text-center">Thông Tin WEBSITE</h3>
            <div class="mt-2">
                <h4 class="form-control">Địa chỉ: 267f Kha Vạn Cân Q1 TPHCM</h4>
            </div>
            <div class="mt-2">
                <h4 class="form-control"> Địa chỉ Email: annguyen2441999@gmail.com</h4>
               
            </div>
            <div class="mt-2">
                <h4 class="form-control">Số Điện Thoại: 0922207717</h4>
                
            </div>
            <div class="mt-2">
                <h4 class="form-control">Số Thuế: 7177022290</h4>
                
            </div>
        </div >
        <div class="col-lg-6">
            <h3 class="w-100 text-center">Vui Lòng Liên Hệ Với Chúng Tôi</h3>
            <table class="table table-bordered">
                <tr>
                    <td>Tên Đầy Đủ </td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Email của bạn </td>
                    <td><input type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Chủ Đề </td>
                    <td><input type="text"  class="form-control" /></td>
                </tr>
                <tr>
                    <td>Nội Dung </td>
                    <td><textarea class="form-control" cols="10"rows="10"></textarea></td>
                </tr>
                <tr>
                    <td ccolspan="2"> <button tupe="submit" class="btn btn-primary">Gửi Tin Nhắn Của Bạn</button> </td>
                </tr>
            </table>
        </div>
    </div>
</div>

