@model WebApplication1.Entities.Sanpham
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center">
    <div class="w-50 left">

        <h4 class="text-center table w-100"><b>Xóa Sản Phẩm</b> </h4>
        <table class="table">
            <tr class="text-center">
                <td><b>Tên  SP:</b></td>
                <td>@Html.DisplayFor(model => model.TenSP)</td>
            </tr>
            <tr class="text-center">
                <td><b>Hình Ảnh:</b></td>
                <td><img src="~/imgs/sanpham/@Html.DisplayFor(model => model.HinhAnh)" /></td>
            </tr>
            
        </table>
        <div class="w-100 mt-2 d-flex justify-content-end ">
            <form asp-action="Delete">
                <input type="hidden" asp-for="MaSP" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </form>

        </div>

    </div>
</div>

